/* Use same font for all text */
* {
  font-family: "Courier New", Courier, monospace;
}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 16px;
  float: right;
}

.links {
  position: fixed;
  top: 0;
  right: 20%;
  z-index: 999;
  width: 100%;
  background-color: white;
  overflow: hidden;
  opacity: 95%;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  margin-right: 20%;
  margin-left: 20%;
}

.profilePicture {
  float: right;
  padding-left: 2%;
  display: inline;
  vertical-align: middle;
}

.leftPicture {
  float: left;
  padding-right: 2%;
}
